*{
	margin:0;
	padding:0;
	-webkit-box-sizing:border-box;
	-mox-box-sizing:border-box;
	box-sizing:border-box;

}

body{
	background:#585858;
	font-family: sans-serif;
	font-size: 16px;

}


header{
	width:100%;
	
	}

header nav{
	background:#8B0000;
	width:100%;	
	margin:10px auto;
	z-index:1000;
	text-align:center;
	right: 100%;
	color:white;
	text-decoration:none;

}

header nav ul {
	width: 90%;
	list-style:none;
	color:white;
	text-decoration:none;

	
}
.menu_bar{
	display:none;
}
header nav ul li{
	display:inline-block;
	position:relative;
	text-align:left;
	color:white;
	text-decoration:none;

}
header nav ul li a{
	color:#fff;
	padding:10px;
	display:block;
	text-decoration:none;
	color:white;
	text-decoration:none;
	font-family: serif;
	font-size: 17px;
}
header nav ul li a:visited{
	color:#fff;
	padding:10px;
	display:block;
	text-decoration:none;
	color:white;
	
}
header nav ul li a:link{
	
	text-decoration:none;
	color:white;
	
}

header nav ul li span{
	margin-right:10px;
}
header nav ul li a:hover{
	background:#B22222;
	color:white;
	text-decoration:none;
	color:white;text-decoration:none;

}

header nav ul li:hover .children{
	display: block;
	background:#8B0000;
	color:white;
	text-decoration:none;
	font-size: 14px;

}

header nav ul li .children{
	display: none;
	background:#B22222;
	position: absolute;
	width:130%;
	z-index:1000;
	text-decoration:none;
	color:white;text-decoration:none;
	

	
}
header nav ul li .children li{
	display:block;
	overflow:hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
	color:white;
	text-decoration:none;
	font-size: 12px;
}
header nav ul li .children li a{
	display:block;
	color:white;
	text-decoration:none;
}

header nav ul li .children li a span{
	float:right;
	position:relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
}

header nav ul li .caret{
	position:relative;
	top:3px;
	margin-right:0;
	margin-left:10px;
	
}

.logotipo{
	margin:20px auto;
	width:90%;
	max-width: 1000px;
	
}

table a{
	color:#B22222;
	text-decoration:none;

}

footer{
	background: #151515;
	margin:auto;
	font-size: 12px;
	color: #fff;
	width:100%;
	padding: 50px 20px;
	text-align: center;
	clear: both;
	color:white;
	text-decoration:none;
}
.let{
	font-size: 16px;
}

footer a:hover{
	color:white;
	text-decoration:none;
}
footer  a:visited{
	color:white;
	text-decoration:none;
}
footer  a:link{
	color:white;
	text-decoration:none;
}


@media screen and (max-width: 500px ){
	body {
		padding-top:80px;
		
	}
	.submenu2{
	float: left;
	text-align: left;
	
	}

	.container{
		display: none;
	}
	.footer  {
		padding-top:5px;
		text-align: center;
		width: 100%;
	}
	.form  {
	padding-top: 5px;
	width:80%;
	padding: 10px;
	border: 1px solid #ccc;
	font-family: sans-serif;

	
	}


	form label{
		font-size: 12px;
	}
	table{
		font-size: 12px;
	}
	.logo img{
	width: 25%;
	height: auto;
	}

		
	.menu_bar{
		display:block;
		width:100%;
		top:0;
		position: fixed;
		background:#ccc;
	}
	
	.menu_bar .bt-menu{
		display:block;
		padding:20px;
		background:#8B0000;
		color:#fff;
		overflow:hidden;
		font-weight:bold;
		font-size:25px;
		text-decoration:none;
		
	}
	
	.menu_bar span{
		float:right;
		font-size:40px;
	}
	
	header nav{
		
		width:60%;
		height: calc(100% - 80px);
		position: fixed;
		right:100%;
		margin:0;
		overflow: scroll;
		
	}
		header nav ul li{
			display:block;
			border-bottom: 1px solid rgba(255,255,255,.5);
			
		}
		
		header nav ul li a{
			display:block;

			
		}

		header nav ul li:hover .children{
		display: none;
			
		}
		header nav ul li .children{
		width:100%;
		position:relative;

		
		}
		
		header nav ul li .children li a{
			margin-left:20px;
		}
		
		header nav ul li .caret{
			float:right;
		}
			
}



.texto{
	width: 100%;
	background: #fff;
	padding: 20px;
	float: left;
	box-sizing: border-box;
	position: left;
}
.login  {
	padding-top: 5px;
	width:50%;
	padding: 10px;
	border: 1px solid #ccc;
	font-family: sans-serif;
	text-align: left;
	float: left;

	
	}

	.input{
	font-size: 15px;
	padding: 5px;
	width: 100%;
	margin-bottom: 15px 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	border:1px solid #ccc;
}

#resultados{
	min-height: 300px;
}

.logb {
	text-align: center;
	color: #B22222;
	font-size: 30px;
	
}
.logotipos {
	text-align: center;
	color: #B22222;
	font-size: 35px;
	
}
.arriba{
	float: center;
	text-align: center;
	width: 97%;
	background: #ffffff;
	color: #585858;
	font-size: 30px;
	font-family: sans-serif;
	margin:5px auto;
	padding: 5px;

}
.section{
	width: 97%;
	margin:3px auto;
	
}
.esp{
	width: 100%;
	margin:10px auto;
}

.tex{
	width: 97%;
	text-align: center;
	margin: 3px auto;
	font-size: 15px;
}
h1{
	text-align: center;
	margin-bottom: 30px;
	color: #B22222;
	font-size: 35px;
	
}
h2{
	text-align: center;
	margin-bottom: 30px;
	color: #B22222;
	
}

.texto{
	font-size: 15px;
	font-family: sans-serif;
	background: #fff;
	text-align: justify;
	
	
}
table{
	font-size: 14px;
}
table td{
	text-align: center;
}


