*{
	margin:0;
	padding: 0; 
}
body{
	background: #ccc;
}
form{
	margin:auto;
	width:100%;
	max-width: 600px;
	padding: 10px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
	font-size: 15px;

}

table{
		font-size: 13px;
	}


a:link{color:white;text-decoration:none}
a:visited{color:white;text-decoration:none}
a:hover{color:white;text-decoration:none}

    

label{
	font-size: 14px;
	font-family: sans-serif;
	display: block;
	width: 100%;
}

input{
	font-size: 18px;
	padding: 5px;
	width: 100%;
	margin-bottom: 15px 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	border:1px solid #ccc;
}

select{
	
	padding: 5px;
	width: 100%;
	margin-bottom: 10px 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	border:1px solid #ccc;
}

input:focus {
border: 1px solid #1668c4;
}

input{
	
	padding: 5px;
	width: 100%;
	margin-bottom: 15px 0;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	border:1px solid #ccc;
}

input[type="submit"]{
	color:#fff;
	background: linear-gradient(#8B0000, #B22222);
	border:0;
	opacity: 0.8;
	cursor:pointer;
	border-radius: 5px;
	margin-bottom:0;
	width: 35%;
	
	
}
	input[type="submit"]:active{
	transparent:scale(0.95);
}
input[type="submit"]:hover{
	opacity:1;
}
a:active{
	transparent:scale(0.95);
}

.logotipo{
	margin:20px auto;
	width:90%;
	max-width: 1000px;
	
}

footer{
	background: #151515;
	margin:auto;
	font-size: 12px;
	color: #fff;
	width:100%;
	padding: 20px 0px;
	text-align: center;
	clear: both;
	}

footer a:hover{
	color:white;
	text-decoration:none;
}
footer  a:visited{
	color:white;
	text-decoration:none;
}
footer  a:link{
	color:white;
	text-decoration:none;
}



a:link{
	color:white;
	text-decoration:none;
}
a:visited{
	color:white;
	text-decoration:none;
}
a:hover{
	color:white;
	text-decoration:none;
}
a  
{  
color:white; 
 text-decoration:none;   
} 

.main{
	width: 75%;
	background: #fff;
	padding: 20px;
	float: right;
	box-sizing: border-box;
	position: left;
}


aside{
	width: 25%;
	
	box-sizing: border-box;
	background: #ccc;
	position: left;
	float: left;
}

@media screen and (max-width: 500px ){
	
	aside{
		width: 100%;
		padding: 10px;
		float: center;
		font-family: sans-serif;
		font-size: 13px;
	}
	form h2{
		font-family: sans-serif;
		font-size: 22px;
	}
	.main{
		width: 100%
	}
	.tit{
		text-align: justify;
		font-size: 18px;
		font-family:sans-serif;

	}
}

h2, h1{
	text-align: center;
	margin-bottom: 30px;
	color: #B22222;
	
}
h4{
	text-align: justify;
	font-size: 18px;
	margin-bottom: 30px;
	color: #B22222;
	
}

.tit{
	font-family: sans-serif;
	color: #000;
}
.section{
	width: 90%;
	margin:10px auto;

	
}
.esp{
	width: 100%;
	margin:10px auto;
}

.tex{
	width: 95%;
	text-align: center;
	float: center;
	margin: 5px auto;

}
.texto{
	font-size: 17px;
	font-family: sans-serif;
	background: #fff;
	text-align: justify;
}



